---
import converter from "number-to-words";
import Link from "components/Link.astro";
import { siteData } from "site.config";
const { properties } = siteData;
---

<li>
  <strong>Properties.</strong>
  Choose from our <code class="whitespace-nowrap">{converter.toWords(properties.length)}</code> superior accommodations:
  {
    properties.map((property, index) => {
      if (index === properties.length - 1) {
        return (
          <span>
            and the{" "}
            <Link href={property.link} newTab>
              {property.name}.
            </Link>
          </span>
        );
      } else
        return (
          <span>
            the{" "}
            <Link href={property.link} newTab>
              {property.name},
            </Link>{" "}
          </span>
        );
    })
  } Wake up to stunning views of the snow-capped Himalayan range from your private
  balcony, or relax in the living area with a warm cup of tea.
</li>
